################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/bin/Debug/netcoreapp3.1
/src/obj
/test/ChristmasLightsKataTest/bin/Debug/netcoreapp3.1
/test/ChristmasLightsKataTest/obj/Debug/netcoreapp3.1
/test/ChristmasLightsKataTest/obj
/.vs/ChristmasLightsKata
